<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout 1</title>
  </head>
  <style media="screen">
  .border{border:5px solid;
  padding: 28px;}



  </style>
  <body>
<div class="border">
  <div class="border">
    <div class="border">
      <div class="border">
        <div class="border">
          <div class="border">
            <div class="border">
              It is our obligation as educators and intellectuals to make sure that the bulk of our production ends up there, preferably with free and unfettered access to all. This means not making materials available only for those affiliated with our institution, our students, or our colleagues, but giving free and unfettered access for all. Doing so means posting our works on the world wide web so that anyone, anywhere, at any time can have access to them. In this way, we will ensure that our work exists.

</div>
</div>
              </div>
  </div>
</div>
</div>
</div>


</body>
</html>
