
body {
  font-family: cursive;
  font-size: 20px;
background-color: rgb(48, 66, 105);
margin-left: 2.5%;
color: rgb(217, 232, 245);
background-image: url(../images/back4.png) ;
background-size: 1250px 700px;
}

a {
color: rgb(217, 232, 245);
}
a:visited {
color: rgb(217, 232, 245);
}
a:hover {
color: pink;
}
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}

.head{
  position: fixed;
  top:4px;
  margin-left: 30%;
  letter-spacing: 12px;
}

.home{
  position: fixed;
  top:30px;
  font-size: 13px;
  margin-top: -20px;
  margin-left: 24%;
  letter-spacing: 4px;

}
.text2{font-family: cursive;}

.title{
margin-left: 42%;
margin-top: 12%;

position: fixed;
font-size: 10px;
line-height: 7px;
text-shadow: ;
}
.title.showme{
  opacity: 0;




}
.page{
opacity: 0;
}
.page.showme{
  width: 480px;
  margin-top: -659px;
  position: fixed;
  margin-left: 14.5%;
  opacity: 0.9;

}

:-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: white;
}
::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(217, 232, 245);
}
::-webkit-scrollbar
{
    width: 10px;
    height: 16px;
    background-color: rgba(230, 255, 250, 0.07);
}
.container {
  font-family: cursive;

font-size: 14px;
    overflow-x: hidden;
    overflow-y: scroll;
text-align: justify;
    background-color: rgb(145, 179, 157,0.5);

    padding: 20px;
    margin-top: 230px;
    padding-top: 30px;
    bottom: 12px;
    top:12px;
    position: fixed;
    height: 260px;
    width: 390px;
    top: 5%;
    left: 32.8%;
    right: 30%;
}
.number{
  margin-left: 150px;
  width: 120px;
  height: 120px;
  padding:30px;

hyphens: 200px;
  color:#fff;
}

.number:hover{
  width: 150px;
  height: 150px;
  margin-left: 150px;
  padding: 10px;
  border: 2px solid pink;
 display: inline-block;
  background-color: #defff5;

  color:#fff;
}
.number2{
border: 2px solid white;


  padding:2px;

hyphens: 200px;

}

.number2:hover{


  padding: 2px;
  border: 2px solid pink;
 display: inline-block;
  background-color: #defff5;


}
.number3{
border: 2px solid white;


  padding:2px;

hyphens: 200px;

}

.number3:hover{


  padding: 2px;
  border: 2px solid pink;
 display: inline-block;
  background-color: #defff5;


}


.footnote{
  position:fixed;
  top: 10%;
  text-align: center;
left: 40%;
  display: none;
}

.footnote.showme{
text-align: center;
  font-size: 70px;
  color: rgb(217, 232, 245);
  display: block;
  text-shadow: 2px 2px rgb(116, 139, 158);

}
.footnote2{
  text-align: center;
  position:fixed;
  top: 10%;
  left: 28.9%;

  display: none;
}

.footnote2.showme{
text-align: center;
  font-size: 70px;
  color: rgb(217, 232, 245);
  display: block;
  text-shadow: 2px 2px rgb(116, 139, 158);

}
.footnote3{
  text-align: center;
  position:fixed;
  top: 10%;
  left: 36.8%;

  display: none;
}

.footnote3.showme{
text-align: center;
  font-size: 70px;
  color: rgb(217, 232, 245);
  display: block;
  text-shadow: 2px 2px rgb(116, 139, 158);

}
.footnote4{
  text-align: center;
  position:fixed;
  top: 10%;
  left: 36%;

  display: none;
}

.footnote4.showme{
text-align: center;
  font-size: 70px;
  color: rgb(217, 232, 245);
  display: block;
  text-shadow: 2px 2px rgb(116, 139, 158);

}
.footnote5{
  text-align: center;
  position:fixed;
  top: 10%;
  left: 36%;

  display: none;
}

.footnote5.showme{
text-align: center;
  font-size: 70px;
  color: rgb(217, 232, 245);
  display: block;
  text-shadow: 2px 2px rgb(116, 139, 158);

}
.footnote6{
  text-align: center;
  position:fixed;
  top: 10%;
  left: 34%;

  display: none;
}

.footnote6.showme{
text-align: center;
  font-size: 70px;
  color: rgb(217, 232, 245);
  display: block;
  text-shadow: 2px 2px rgb(116, 139, 158);

}
.footnote7{
  text-align: center;
  position:fixed;
  top: 10%;
  left: 32%;

  display: none;
}

.footnote7.showme{
text-align: center;
  font-size: 70px;
  color: rgb(217, 232, 245);
  display: block;
  text-shadow: 2px 2px rgb(116, 139, 158);

}
.footnote8{
  text-align: center;
  position:fixed;
  top: 10%;
  left: 36%;

  display: none;
}

.footnote8.showme{
text-align: center;
  font-size: 70px;
  color: rgb(217, 232, 245);
  display: block;
  text-shadow: 2px 2px rgb(116, 139, 158);

}
.footnote9{
  text-align: center;
  position:fixed;
  top: 10%;
  left: 38%;

  display: none;
}

.footnote9.showme{
text-align: center;
  font-size: 70px;
  color: rgb(217, 232, 245);
  display: block;
  text-shadow: 2px 2px rgb(116, 139, 158);

}
.footnote10{
  text-align: center;
  position:fixed;
  top: 10%;
  left: 37%;

  display: none;
}

.footnote10.showme{
text-align: center;
  font-size: 70px;
  color: rgb(217, 232, 245);
  display: block;
  text-shadow: 2px 2px rgb(116, 139, 158);

}
.footnote11{
  text-align: center;
  position:fixed;
  top: 10%;
  left: 31%;

  display: none;
}

.footnote11.showme{
text-align: center;
  font-size: 70px;
  color: rgb(217, 232, 245);
  display: block;
  text-shadow: 2px 2px rgb(116, 139, 158);

}
.footnote12{
  text-align: center;
  position:fixed;
  top: 10%;
  left: 31%;

  display: none;
}

.footnote12.showme{
text-align: center;
  font-size: 70px;
  color: rgb(217, 232, 245);
  display: block;
  text-shadow: 2px 2px rgb(116, 139, 158);

}
.footnote13{
  text-align: center;
  position:fixed;
  top: 10%;
  left: 31.5%;

  display: none;
}

.footnote13.showme{
text-align: center;
  font-size: 70px;
  color: rgb(217, 232, 245);
  display: block;
  text-shadow: 2px 2px rgb(116, 139, 158);

}
.footnote14{
  text-align: center;
  position:fixed;
  top: 10%;
  left: 36%;

  display: none;
}

.footnote14.showme{
text-align: center;
  font-size: 70px;
  color: rgb(217, 232, 245);
  display: block;
  text-shadow: 2px 2px rgb(116, 139, 158);

}











.thumbnail{
opacity: 0.5;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;
  display: inline-table;


}
.thumbnail:hover{
opacity: 1;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail2{
opacity: 0.5;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail2:hover{
opacity: 1;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail3{
opacity: 0.5;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail3:hover{
opacity: 1;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail4{
opacity: 0.5;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail4:hover{
opacity: 1;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail5{
opacity: 0.5;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail5:hover{
opacity: 1;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail6{
opacity: 0.5;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail6:hover{
opacity: 1;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail7{
opacity: 0.5;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail7:hover{
opacity: 1;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail8{
opacity: 0.5;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail8:hover{
opacity: 1;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail9{
opacity: 0.5;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail9:hover{
opacity: 1;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail10{
opacity: 0.5;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail10:hover{
opacity: 1;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail11{
opacity: 0.5;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail11:hover{
opacity: 1;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail12{
opacity: 0.5;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail12:hover{
opacity: 1;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail13{
opacity: 0.5;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail13:hover{
opacity: 1;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail14{
opacity: 0.5;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}
.thumbnail14:hover{
opacity: 1;
  width: 150px;
  transition: 2s;
  margin-left: 15.5%;

}






.thumbnail.enlarge{

  transition: 2s;

}
